In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json

df_data = pd.read_csv('../data/EnergyMixEU.csv', sep='\t')
display(df_data)

     Unnamed: 0 renewables fossil fuels nuclear
0    Luxembourg     92.80%        7.20%   0.00%
1       Denmark     79.31%       20.69%   0.00%
2        Latvia     75.51%       24.49%   0.00%
3     Lithuania     72.55%       27.45%   0.00%
4       Austria     69.44%       30.56%   0.00%
5        Sweden     69.32%        1.23%  29.45%
6       Croatia     64.64%       35.36%   0.00%
7      Portugal     62.67%       37.33%   0.00%
8       Finland     53.98%       11.00%  35.01%
9        Greece     46.34%       53.66%   0.00%
10      Romania     45.38%       34.51%  20.11%
11      Germany     43.95%       49.70%   6.36%
12        Spain     43.51%       36.22%  20.27%
13  Netherlands     40.07%       56.61%   3.32%
14      Ireland     39.26%       60.74%   0.00%
15        Italy     36.93%       61.99%   0.00%
16      Estonia     34.03%       65.89%   0.00%
17     Slovenia     31.47%       25.73%  42.80%
18      Belgium     26.55%       27.02%  46.43%
19       France     24.57%       13.57%  61.86%
20       Poland     22.15%       77.85%   0.00%
21     Slovakia     22.05%       17.66%  60.30%
22      Hungary     21.23%       34.16%  44.61%
23     Bulgaria     19.97%       45.95%  34.08%
24       Cyprus     17.42%       82.58%   0.00%
25      Czechia     13.93%       48.86%  37.21%
26        Malta     12.76%       87.24%   0.00%

In [2]:

df_data["renewables"] = df_data["renewables"].str.rstrip("%").astype("float")
df_data["nuclear"] = df_data["nuclear"].str.rstrip("%").astype("float")
df_data["fossil fuels"] = df_data["fossil fuels"].str.rstrip("%").astype("float")
display(df_data)

     Unnamed: 0  renewables  fossil fuels  nuclear
0    Luxembourg       92.80          7.20     0.00
1       Denmark       79.31         20.69     0.00
2        Latvia       75.51         24.49     0.00
3     Lithuania       72.55         27.45     0.00
4       Austria       69.44         30.56     0.00
5        Sweden       69.32          1.23    29.45
6       Croatia       64.64         35.36     0.00
7      Portugal       62.67         37.33     0.00
8       Finland       53.98         11.00    35.01
9        Greece       46.34         53.66     0.00
10      Romania       45.38         34.51    20.11
11      Germany       43.95         49.70     6.36
12        Spain       43.51         36.22    20.27
13  Netherlands       40.07         56.61     3.32
14      Ireland       39.26         60.74     0.00
15        Italy       36.93         61.99     0.00
16      Estonia       34.03         65.89     0.00
17     Slovenia       31.47         25.73    42.80
18      Belgium       26.55         27.02    46.43
19       France       24.57         13.57    61.86
20       Poland       22.15         77.85     0.00
21     Slovakia       22.05         17.66    60.30
22      Hungary       21.23         34.16    44.61
23     Bulgaria       19.97         45.95    34.08
24       Cyprus       17.42         82.58     0.00
25      Czechia       13.93         48.86    37.21
26        Malta       12.76         87.24     0.00

In [3]:

df_data.columns.values[0] = "Country"
df_data.rename(columns={'fossils fuels': 'Fossil'}, inplace=True)
df_data.rename(columns={'renewables': 'Renewable'}, inplace=True)
df_data.rename(columns={'nuclear': 'Nuclear'}, inplace=True)

highcharts_series = []
for column in df_data.columns:
    series_data = {
        'name': column,
        'data': df_data[column].fillna(0).tolist()  # Replace NaN with 0 for Highcharts
    }
    highcharts_series.append(series_data) 
    
with open('../public/data/energiemix_eu.json', 'w') as json_file:
    json.dump(highcharts_series, json_file, indent=2)