In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
#load data
df_data = pd.read_csv('../data/ogd32_elektrizitaetbilanz_jahreswerte.csv', sep=',', encoding='utf-16')
df_data = df_data[df_data['Jahr'] > 1989]
df_data.head()

,Jahr,Erzeugung_laufwerk_GWh,Erzeugung_speicherwerk_GWh,Erzeugung_kernkraftwerk_GWh,Erzeugung_andere_total_GWh,Erzeugung_andere_fossil_GWh,Erzeugung_andere_erneuerbare_abfaelle_GWh,Erzeugung_holz_GWh,Erzeugung_biogas_GWh,Erzeugung_photovoltaik_GWh,Erzeugung_wind_GWh,Verbrauch_speicherpumpen_GWh,Erzeugung_netto_GWh,Einfuhr_GWh,Ausfuhr_GWh,Landesverbrauch_GWh,Verluste_GWh,Endverbrauch_GWh
30,1990,13561.0,17114.0,22298.0,1013,661.0,352.0,6.0,80.0,1.0,0.0,1695,52379,22799,24907,50271,3693,46578
31,1991,13898.0,19184.0,21654.0,1247,904.0,343.0,6.0,87.0,2.0,0.0,1946,54132,24005,26801,51336,3750,47586
32,1992,15219.0,18506.0,22121.0,1393,1014.0,379.0,11.0,95.0,3.0,0.0,1438,55910,21757,26046,51621,3755,47866
33,1993,15451.0,20802.0,22029.0,913,536.0,377.0,8.0,106.0,4.0,0.0,1186,58127,23854,31053,50928,3689,47239
34,1994,16590.0,22966.0,22984.0,988,565.0,423.0,10.0,117.0,5.0,0.0,1271,62390,22723,34566,50547,3650,46897

In [3]:
# filter columns
df_consumption  = df_data[['Jahr', 'Einfuhr_GWh', 'Ausfuhr_GWh', 'Landesverbrauch_GWh', 'Endverbrauch_GWh', 'Erzeugung_netto_GWh']].copy()
df_consumption.head()

,Jahr,Einfuhr_GWh,Ausfuhr_GWh,Landesverbrauch_GWh,Endverbrauch_GWh,Erzeugung_netto_GWh
30,1990,22799,24907,50271,46578,52379
31,1991,24005,26801,51336,47586,54132
32,1992,21757,26046,51621,47866,55910
33,1993,23854,31053,50928,47239,58127
34,1994,22723,34566,50547,46897,62390

In [4]:
# rename columns

df_consumption.rename(columns={'Jahr': 'Year'}, inplace=True)
df_consumption.rename(columns={'Einfuhr_GWh': 'Import'}, inplace=True)
df_consumption.rename(columns={'Ausfuhr_GWh': 'Export'}, inplace=True)
df_consumption.rename(columns={'Landesverbrauch_GWh': 'Country consumption'}, inplace=True)
df_consumption.rename(columns={'Endverbrauch_GWh': 'End Consumption'}, inplace=True)
df_consumption.rename(columns={'Erzeugung_netto_GWh': 'Production Netto'}, inplace=True)

df_consumption.head()

,Year,Import,Export,Country consumption,End Consumption,Production Netto
30,1990,22799,24907,50271,46578,52379
31,1991,24005,26801,51336,47586,54132
32,1992,21757,26046,51621,47866,55910
33,1993,23854,31053,50928,47239,58127
34,1994,22723,34566,50547,46897,62390

In [5]:
# write to json
highcharts_series = []
for column in df_consumption.columns:
    series_data = {
        'name': column,
        'data': df_consumption[column].fillna(0).tolist()  # Replace NaN with 0 for Highcharts
    }
    highcharts_series.append(series_data) 
    

with open('../src/data/consumption.json', 'w') as json_file:
    json.dump(highcharts_series, json_file, indent=2)