In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import json

df_data = pd.read_csv('../data/ogd32_elektrizitaetbilanz_jahreswerte.csv', sep=',', encoding='utf-16')
display(df_data)

,Jahr,Erzeugung_laufwerk_GWh,Erzeugung_speicherwerk_GWh,Erzeugung_kernkraftwerk_GWh,Erzeugung_andere_total_GWh,Erzeugung_andere_fossil_GWh,Erzeugung_andere_erneuerbare_abfaelle_GWh,Erzeugung_holz_GWh,Erzeugung_biogas_GWh,Erzeugung_photovoltaik_GWh,Erzeugung_wind_GWh,Verbrauch_speicherpumpen_GWh,Erzeugung_netto_GWh,Einfuhr_GWh,Ausfuhr_GWh,Landesverbrauch_GWh,Verluste_GWh,Endverbrauch_GWh
0,1960,NaN,NaN,NaN,168,NaN,NaN,NaN,NaN,NaN,NaN,245,20427,1306,3822,17911,2020,15891
1,1961,NaN,NaN,NaN,174,NaN,NaN,NaN,NaN,NaN,NaN,211,21489,1530,4249,18770,2029,16741
2,1962,NaN,NaN,NaN,231,NaN,NaN,NaN,NaN,NaN,NaN,327,21090,3184,4443,19831,2115,17716
3,1963,NaN,NaN,NaN,254,NaN,NaN,NaN,NaN,NaN,NaN,358,22445,3419,5119,20745,2262,18483
4,1964,NaN,NaN,NaN,304,NaN,NaN,NaN,NaN,NaN,NaN,393,22015,4213,4662,21566,2220,19346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2019,17700.0,22856.0,25280.0,3050,1873.0,1177.0,313.0,372.0,2178.0,146.0,4133,67761,29505,35765,61501,4303,57198
60,2020,17648.0,22968.0,22990.0,2791,1607.0,1184.0,395.0,388.0,2599.0,145.0,4459,65464,26988,32548,59904,4190,55714
61,2021,16962.0,22538.0,18530.0,2320,1207.0,1113.0,475.0,403.0,2842.0,145.0,4145,60070,31532,29119,62483,4370,58113
62,2022,15490.0,18011.0,23113.0,1970,878.0,1092.0,505.0,408.0,3858.0,150.0,5567,57937,33117,29734,61320,4290,57030
63,2023,17491.0,23289.0,23334.0,2191,1142.0,1049.0,539.0,417.0,4624.0,169.0,5375,66679,27462,33856,60285,4217,56068

In [29]:
df_data_einfuhr_ausfuhr = df_data[['Jahr', 'Einfuhr_GWh', 'Ausfuhr_GWh']]

display(df_data_einfuhr_ausfuhr)

df_data_einfuhr_ausfuhr.rename(columns={'Jahr': 'Year'}, inplace=True)
df_data_einfuhr_ausfuhr.rename(columns={'Einfuhr_GWh': 'Import'}, inplace=True)
df_data_einfuhr_ausfuhr.rename(columns={'Ausfuhr_GWh': 'Export'}, inplace=True)

highcharts_series = []
for column in df_data_einfuhr_ausfuhr.columns:
    series_data = {
        'name': column,
        'data': df_data_einfuhr_ausfuhr[column].fillna(0).tolist()  # Replace NaN with 0 for Highcharts
    }
    highcharts_series.append(series_data) 
    

with open('../public/data/einfuhr_ausfuhr.json', 'w') as json_file:
    json.dump(highcharts_series, json_file, indent=2)

    Jahr  Einfuhr_GWh  Ausfuhr_GWh
0   1960         1306         3822
1   1961         1530         4249
2   1962         3184         4443
3   1963         3419         5119
4   1964         4213         4662
..   ...          ...          ...
59  2019        29505        35765
60  2020        26988        32548
61  2021        31532        29119
62  2022        33117        29734
63  2023        27462        33856

[64 rows x 3 columns]

/tmp/ipykernel_2608/2422424573.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_einfuhr_ausfuhr.rename(columns={'Jahr': 'Year'}, inplace=True)
/tmp/ipykernel_2608/2422424573.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_einfuhr_ausfuhr.rename(columns={'Einfuhr_GWh': 'Import'}, inplace=True)
/tmp/ipykernel_2608/2422424573.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_einfuhr_ausfuhr.rename(columns={'Ausfuhr_GWh': 'Export'}, inplace=True)

In [30]:
df_data_erzeugung = df_data[[
    'Jahr', 
    'Erzeugung_laufwerk_GWh',
    'Erzeugung_speicherwerk_GWh',
    'Erzeugung_andere_erneuerbare_abfaelle_GWh',
    'Erzeugung_holz_GWh',
    'Erzeugung_biogas_GWh',
    'Erzeugung_photovoltaik_GWh',
    'Erzeugung_wind_GWh',
    'Erzeugung_andere_total_GWh',
    'Erzeugung_andere_fossil_GWh',
    'Erzeugung_kernkraftwerk_GWh',
]]

df_data_erzeugung = df_data_erzeugung[df_data['Jahr'] > 1970]

df_data_erzeugung.rename(columns={
    'Jahr': 'Year',
    'Erzeugung_laufwerk_GWh': 'Hydropower (run-of-river)',
    'Erzeugung_speicherwerk_GWh': 'Hydropower (storage)',
    'Erzeugung_andere_erneuerbare_abfaelle_GWh': 'Other (renewable waste)',
    'Erzeugung_holz_GWh': 'Wood',
    'Erzeugung_biogas_GWh': 'Biogas',
    'Erzeugung_photovoltaik_GWh': 'Photovoltaic',
    'Erzeugung_wind_GWh': 'Wind',
    'Erzeugung_andere_total_GWh': 'Other (total)',
    'Erzeugung_andere_fossil_GWh': 'Other (fossil)',
    'Erzeugung_kernkraftwerk_GWh': 'Nuclear power',
}, inplace=True)

df_data_erzeugung = df_data_erzeugung.drop('Other (total)', axis=1)

df_data_erzeugung.head(20)

,Year,Hydropower (run-of-river),Hydropower (storage),Other (renewable waste),Wood,Biogas,Photovoltaic,Wind,Other (fossil),Nuclear power
11,1971,11523.0,16040.0,NaN,NaN,NaN,NaN,NaN,NaN,1843.0
12,1972,11218.0,14059.0,NaN,NaN,NaN,NaN,NaN,NaN,4650.0
13,1973,12430.0,16395.0,NaN,NaN,NaN,NaN,NaN,NaN,5896.0
14,1974,13252.0,15311.0,NaN,NaN,NaN,NaN,NaN,NaN,6730.0
15,1975,14039.0,19935.0,NaN,NaN,NaN,NaN,NaN,NaN,7391.0
16,1976,11790.0,14832.0,NaN,NaN,NaN,NaN,NaN,NaN,7561.0
17,1977,15277.0,21013.0,NaN,NaN,NaN,NaN,NaN,NaN,7728.0
18,1978,13764.0,18746.0,NaN,NaN,NaN,NaN,NaN,NaN,7995.0
19,1979,14803.0,17542.0,NaN,NaN,NaN,NaN,NaN,NaN,11243.0
20,1980,14967.0,18575.0,NaN,NaN,NaN,NaN,NaN,NaN,13663.0
21,1981,16173.0,19924.0,NaN,NaN,NaN,NaN,NaN,NaN,14462.0
22,1982,15617.0,21418.0,NaN,NaN,NaN,NaN,NaN,NaN,14276.0
23,1983,15234.0,20768.0,NaN,NaN,NaN,NaN,NaN,NaN,14821.0
24,1984,14051.0,16821.0,NaN,NaN,NaN,NaN,NaN,NaN,17396.0
25,1985,13765.0,18912.0,NaN,NaN,NaN,NaN,NaN,NaN,21281.0
26,1986,14013.0,19576.0,NaN,NaN,NaN,NaN,NaN,NaN,21303.0
27,1987,14863.0,20549.0,NaN,NaN,NaN,NaN,NaN,NaN,21701.0
28,1988,15437.0,21002.0,NaN,NaN,NaN,NaN,NaN,NaN,21502.0
29,1989,13613.0,16872.0,NaN,NaN,NaN,NaN,NaN,NaN,21543.0
30,1990,13561.0,17114.0,352.0,6.0,80.0,1.0,0.0,661.0,22298.0

In [31]:
highcharts_series = []
for column in df_data_erzeugung.columns:
    series_data = {
        'name': column,
        'data': df_data_erzeugung[column].fillna(0).tolist()  # Replace NaN with 0 for Highcharts
    }
    highcharts_series.append(series_data)
    

with open('../public/data/erzeugung.json', 'w') as json_file:
    json.dump(highcharts_series, json_file, indent=2)

In [32]:
# Grouping columns
df_data_erzeugung_grouped = df_data_erzeugung.copy()

df_data_erzeugung_grouped['Nuclear'] = df_data_erzeugung_grouped['Nuclear power']
df_data_erzeugung_grouped['Fossil'] = df_data_erzeugung_grouped['Other (fossil)']
df_data_erzeugung_grouped['Hydropower'] = (
    df_data_erzeugung_grouped['Hydropower (run-of-river)'] +
    df_data_erzeugung_grouped['Hydropower (storage)']
)
df_data_erzeugung_grouped['Renewable'] = (
    df_data_erzeugung_grouped['Other (renewable waste)'] +
    df_data_erzeugung_grouped['Wood'] +
    df_data_erzeugung_grouped['Biogas'] +
    df_data_erzeugung_grouped['Photovoltaic'] +
    df_data_erzeugung_grouped['Wind']
)

# Selecting only the grouped columns and the Year column
df_data_erzeugung_grouped = df_data_erzeugung_grouped[['Year', 'Nuclear', 'Fossil', 'Renewable', 'Hydropower']]

display(df_data_erzeugung_grouped)

highcharts_series = []

# Add the years as the first series
highcharts_series.append({
    'name': 'Year',
    'data': df_data_erzeugung_grouped['Year'].tolist()
})

# Add the grouped columns
for column in ['Nuclear', 'Fossil', 'Renewable', 'Hydropower']:
    series_data = {
        'name': column,
        'data': df_data_erzeugung_grouped[column].fillna(0).tolist()  # Replace NaN with 0 for Highcharts
    }
    highcharts_series.append(series_data)

with open('../public/data/erzeugung-grouped-1.json', 'w') as json_file:
    json.dump(highcharts_series, json_file, indent=2)

    Year  Nuclear  Fossil  Renewable  Hydropower
11  1971   1843.0     NaN        NaN     27563.0
12  1972   4650.0     NaN        NaN     25277.0
13  1973   5896.0     NaN        NaN     28825.0
14  1974   6730.0     NaN        NaN     28563.0
15  1975   7391.0     NaN        NaN     33974.0
16  1976   7561.0     NaN        NaN     26622.0
17  1977   7728.0     NaN        NaN     36290.0
18  1978   7995.0     NaN        NaN     32510.0
19  1979  11243.0     NaN        NaN     32345.0
20  1980  13663.0     NaN        NaN     33542.0
21  1981  14462.0     NaN        NaN     36097.0
22  1982  14276.0     NaN        NaN     37035.0
23  1983  14821.0     NaN        NaN     36002.0
24  1984  17396.0     NaN        NaN     30872.0
25  1985  21281.0     NaN        NaN     32677.0
26  1986  21303.0     NaN        NaN     33589.0
27  1987  21701.0     NaN        NaN     35412.0
28  1988  21502.0     NaN        NaN     36439.0
29  1989  21543.0     NaN        NaN     30485.0
30  1990  22298.0   661.0      439.0     30675.0
31  1991  21654.0   904.0      438.0     33082.0
32  1992  22121.0  1014.0      488.0     33725.0
33  1993  22029.0   536.0      495.0     36253.0
34  1994  22984.0   565.0      555.0     39556.0
35  1995  23486.0   694.0      580.0     35597.0
36  1996  23719.0  1082.0      622.0     29698.0
37  1997  23971.0  1167.0      667.0     34794.0
38  1998  24368.0  1585.0      700.0     34295.0
39  1999  23523.0  1792.0      762.0     40616.0
40  2000  24949.0  1702.0      847.0     37851.0
41  2001  25293.0  1728.0      893.0     42261.0
42  2002  25692.0  1877.0      929.0     36513.0
43  2003  25931.0  1937.0      953.0     36445.0
44  2004  25432.0  1979.0      994.0     35117.0
45  2005  22020.0  2094.0     1045.0     32759.0
46  2006  26244.0  2166.0     1174.0     32557.0
47  2007  26344.0  1975.0     1224.0     36373.0
48  2008  26132.0  1992.0     1285.0     37559.0
49  2009  26119.0  1933.0     1306.0     37136.0
50  2010  25205.0  2195.0     1403.0     37450.0
51  2011  25560.0  1903.0     1623.0     33795.0
52  2012  24345.0  1854.0     1914.0     39906.0
53  2013  24871.0  1672.0     2197.0     39572.0
54  2014  26370.0  1341.0     2614.0     39308.0
55  2015  22095.0  1546.0     2831.0     39486.0
56  2016  20235.0  1887.0     3168.0     36326.0
57  2017  19499.0  1669.0     3654.0     36666.0
58  2018  24414.0  1839.0     3877.0     37428.0
59  2019  25280.0  1873.0     4186.0     40556.0
60  2020  22990.0  1607.0     4711.0     40616.0
61  2021  18530.0  1207.0     4978.0     39500.0
62  2022  23113.0   878.0     6013.0     33501.0
63  2023  23334.0  1142.0     6798.0     40780.0

In [33]:
# Grouping columns
df_data_erzeugung_grouped['Renewable'] = (
    df_data_erzeugung_grouped['Renewable'] +
    df_data_erzeugung_grouped['Hydropower'] 
    
)

# Selecting only the grouped columns and the Year column
df_data_erzeugung_grouped = df_data_erzeugung_grouped[['Year', 'Renewable', 'Fossil', 'Nuclear']]

display(df_data_erzeugung_grouped)

highcharts_series = []

# Add the years as the first series
highcharts_series.append({
    'name': 'Year',
    'data': df_data_erzeugung_grouped['Year'].tolist()
})

# Add the grouped columns
for column in ['Renewable', 'Fossil', 'Nuclear',]:
    series_data = {
        'name': column,
        'data': df_data_erzeugung_grouped[column].fillna(0).tolist()  # Replace NaN with 0 for Highcharts
    }
    highcharts_series.append(series_data)

with open('../public/data/erzeugung-grouped-2.json', 'w') as json_file:
    json.dump(highcharts_series, json_file, indent=2)

    Year  Renewable  Fossil  Nuclear
11  1971        NaN     NaN   1843.0
12  1972        NaN     NaN   4650.0
13  1973        NaN     NaN   5896.0
14  1974        NaN     NaN   6730.0
15  1975        NaN     NaN   7391.0
16  1976        NaN     NaN   7561.0
17  1977        NaN     NaN   7728.0
18  1978        NaN     NaN   7995.0
19  1979        NaN     NaN  11243.0
20  1980        NaN     NaN  13663.0
21  1981        NaN     NaN  14462.0
22  1982        NaN     NaN  14276.0
23  1983        NaN     NaN  14821.0
24  1984        NaN     NaN  17396.0
25  1985        NaN     NaN  21281.0
26  1986        NaN     NaN  21303.0
27  1987        NaN     NaN  21701.0
28  1988        NaN     NaN  21502.0
29  1989        NaN     NaN  21543.0
30  1990    31114.0   661.0  22298.0
31  1991    33520.0   904.0  21654.0
32  1992    34213.0  1014.0  22121.0
33  1993    36748.0   536.0  22029.0
34  1994    40111.0   565.0  22984.0
35  1995    36177.0   694.0  23486.0
36  1996    30320.0  1082.0  23719.0
37  1997    35461.0  1167.0  23971.0
38  1998    34995.0  1585.0  24368.0
39  1999    41378.0  1792.0  23523.0
40  2000    38698.0  1702.0  24949.0
41  2001    43154.0  1728.0  25293.0
42  2002    37442.0  1877.0  25692.0
43  2003    37398.0  1937.0  25931.0
44  2004    36111.0  1979.0  25432.0
45  2005    33804.0  2094.0  22020.0
46  2006    33731.0  2166.0  26244.0
47  2007    37597.0  1975.0  26344.0
48  2008    38844.0  1992.0  26132.0
49  2009    38442.0  1933.0  26119.0
50  2010    38853.0  2195.0  25205.0
51  2011    35418.0  1903.0  25560.0
52  2012    41820.0  1854.0  24345.0
53  2013    41769.0  1672.0  24871.0
54  2014    41922.0  1341.0  26370.0
55  2015    42317.0  1546.0  22095.0
56  2016    39494.0  1887.0  20235.0
57  2017    40320.0  1669.0  19499.0
58  2018    41305.0  1839.0  24414.0
59  2019    44742.0  1873.0  25280.0
60  2020    45327.0  1607.0  22990.0
61  2021    44478.0  1207.0  18530.0
62  2022    39514.0   878.0  23113.0
63  2023    47578.0  1142.0  23334.0