In [7]:
import pandas as pd
import matplotlib.pyplot as plt

df_data = pd.read_csv('../data/ogd32_elektrizitaetbilanz_jahreswerte.csv', sep=',', encoding='utf-16')
display(df_data.head())

,Jahr,Erzeugung_laufwerk_GWh,Erzeugung_speicherwerk_GWh,Erzeugung_kernkraftwerk_GWh,Erzeugung_andere_total_GWh,Erzeugung_andere_fossil_GWh,Erzeugung_andere_erneuerbare_abfaelle_GWh,Erzeugung_holz_GWh,Erzeugung_biogas_GWh,Erzeugung_photovoltaik_GWh,Erzeugung_wind_GWh,Verbrauch_speicherpumpen_GWh,Erzeugung_netto_GWh,Einfuhr_GWh,Ausfuhr_GWh,Landesverbrauch_GWh,Verluste_GWh,Endverbrauch_GWh
0,1960,NaN,NaN,NaN,168,NaN,NaN,NaN,NaN,NaN,NaN,245,20427,1306,3822,17911,2020,15891
1,1961,NaN,NaN,NaN,174,NaN,NaN,NaN,NaN,NaN,NaN,211,21489,1530,4249,18770,2029,16741
2,1962,NaN,NaN,NaN,231,NaN,NaN,NaN,NaN,NaN,NaN,327,21090,3184,4443,19831,2115,17716
3,1963,NaN,NaN,NaN,254,NaN,NaN,NaN,NaN,NaN,NaN,358,22445,3419,5119,20745,2262,18483
4,1964,NaN,NaN,NaN,304,NaN,NaN,NaN,NaN,NaN,NaN,393,22015,4213,4662,21566,2220,19346